<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script>
		angular.module('app', [])
		       .controller('appCTL1', function($rootScope, $scope){
		    	   $rootScope.name = "Gudi1";
		    	   $scope.btnEvent = function(txt){
		    		   console.log(txt);
		    		   $scope.name = txt;
		    	   }
				})
			   .controller('appCTL2', function($scope){
		    	   //$scope.name = ":D"
				});
	</script>
</head>
<body data-ng-app="app">

<div data-ng-controller="appCTL1">
  <p>Name : <input type="text" data-ng-model="name"></p>
  <h1>Hello {{name}}</h1>
  <button type="button" data-ng-click="btnEvent('1234')">Submit</button>
</div>

<div data-ng-controller="appCTL2">
  <p>Name : <input type="text" data-ng-model="name"></p>
  <h1>Hello {{name}}</h1>
</div>

</body>
</html>